@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<Article>
@{
    ViewData["Title"] = "ArticleList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="section lb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-custom-build">
                        @foreach (var item in Model)
                        {
                            <div class="blog-box wow fadeIn">
                                <div class="post-media">
                                    <a href="/Article/ArticleDetail/@item.ArticleId" title="">
                                        <img src="@item.MainImageUrl"class="img-fluid" >
                                        <div class="hovereffect">
                                            <span></span>
                                        </div>
                                        <!-- end hover -->
                                    </a>
                                </div>
                                <!-- end media -->
                                <div class="blog-meta big-meta text-center">

                                    <h4><a href="/Article/ArticleDetail/@item.ArticleId" title="">@item.Title</a></h4>
                                    <p>
                                        @(item.Detail.Length >= 150
                                            ? item.Detail.Substring(0, item.Detail.Substring(0, 150).LastIndexOf(" ")) + " <a href='/Article/ArticleDetail/" + item.ArticleId + "'>Devamını oku...</a>"
                                            : item.Detail)
                                    </p>

                                    <small><a href="#" title="">@item.Category.CategoryName</a></small>
                                    <small><a href="#" title="">@item.CreatedDate.ToString("mm-dd-yyyy")</a></small>
                                    <small><a href="#" title="">@item.AppUser.Name @item.AppUser.Surname</a></small>

                                </div>
                            </div>

                            <!-- end blog-box -->

                            <hr class="invis">
                        }


                    </div>
                </div>

                <hr class="invis">

                @Html.PagedListPager(
                         (IPagedList)Model,
                         page => Url.Action("ArticleList", new { page }),
                         new PagedListRenderOptions
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,  
                    DisplayLinkToLastPage = PagedListDisplayMode.Never,  
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,     
                    LinkToPreviousPageFormat = "«",  
                    LinkToNextPageFormat = "»",      
                    MaximumPageNumbersToDisplay = 3, 
                    UlElementClasses = new[] { "pagination", "justify-content-center" }, 
                    LiElementClasses = new[] { "page-item" }, 
                    PageClasses = new[] { "page-link" }       
                }
                         )

                
            </div><!-- end col -->

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    @await Component.InvokeAsync("_MainRecentPostComponentPartial")
                    @await Component.InvokeAsync("_MainPopularCategoriesComponentPartial")
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>


