@model Article

@{
    ViewData["Title"] = "ArticleDetail";
    Layout = "~/Views/Shared/_ArticleDetailLayout.cshtml";
}





<body>

    <div id="wrapper">


        <section class="section lb m3rem">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area">


                                <span class="color-yellow"><a href="marketing-category.html" title="">@Model.Category.CategoryName</a></span>

                                <h3>@Model.Title</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="marketing-single.html" title=""><b>@Model.CreatedDate.ToString("mm-dd-yyyy")</b></a></small>
                                    <small><a href="blog-author.html" title=""><b>@Model.AppUser.Name @Model.AppUser.Surname</b></a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> <b>@Model.ArticleViewCount</b></a></small>
                                </div><!-- end meta -->


                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="@Model.MainImageUrl" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">
                                <b> @Model.Detail</b>
                            </div>

                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <span>Tags</span>
                                    @foreach (var item in Model.Tags)
                                    {
                                        <small><a href="#" title="">@item.TagCloud.Title</a></small>
                                    }


                                </div>


                            </div>


                            <hr class="invis1">

                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">About author</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <img src="@Model.AppUser.ImageUrl" alt="" class="img-fluid rounded-circle">
                                    </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4><a href="#">@Model.AppUser.Name @Model.AppUser.Surname</a></h4>
                                        <p>@Model.AppUser.Description</p>



                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->

                            <hr class="invis1">



                            <hr class="invis1">
                            @await Component.InvokeAsync("_CommentListComponent" , new {id =Model.ArticleId})

                            <hr class="invis1">

                            @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", ViewData["CommentViewModel"] as CommentViewModel)

                          @*   @await Component.InvokeAsync("UserCommentFormComponent", new { id = Model.ArticleId }) *@

                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            @await Html.PartialAsync("~/Views/NewsLetter/AddNewsLetter.cshtml")
                            <br />
                            @await Component.InvokeAsync("_MainRecentPostComponentPartial")
                            @await Component.InvokeAsync("_MainPopularCategoriesComponentPartial")
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->

</body>


